// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$uro-gold: #EDB723;
$ori-orange: #F34213;
$boston-red: #d00000;
$jap-indigo: #26444F;
$eerie-black: #101425;
$gun-metal: #2E2E3A;
$all-black: #000000;
