.beast-container {

  .first-row {
  padding-top: 8px;
  width: 100%;
  max-height: 70%;
  display: flex;
  justify-content: space-around;
  position: relative;
  }

  .second-row {
  width: 100%;
  max-height: 20%;
  }
}

.beast-img {
  width: 60%;
  // height: 600px;
  overflow: hidden;

  img {
    max-width: 100%;
    height: auto;
  }

}

.beast-info {
  width: 40%;
  max-height: 100%;

  .title-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    .btn-dark {
      height: 40px;
      background: transparent;
      color: $white;
      border: 1px solid $white;
      border-radius: 10px;

      &:hover {
        background: $uro-gold;
        color: $jap-indigo;
      }
    }

  }


  .card-title {
    background: transparent;
  }

  .card-info-body {
    background: rgba($uro-gold, 0.9);
    color: $eerie-black;
    padding: 10%;


    .card-info-text {
    }
  }

  .card-btn-container {
    background: transparent;
    flex-direction: row;
    justify-content: space-around;
    border: none;

    .btn {
      flex-grow: 1;
    }
  }

}

.search-bar-container {
    position: relative;
    margin: 8px auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    form {
      width: 80%;
    }

    .search-input {
      width: 100%;
      line-height: 1.5;
      border: 1px solid $boston-red;
      border-radius: 20px;
    }
    .input-group-btn {
      width: 10%;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 5px;
      right: 15%;

      .fa-search {
        font-size: 24px;
        color: $jap-indigo;
        position: absolute;
        top: 0;
        right: 0;
        &:hover {
          color: $boston-red;
        }
      }
      .search-btn {
        opacity: 0;
        width: 40px;
        position: absolute;
        top: 0;
        right: 0;
      }
    }


}


#map {
  width: 100%;
  height: 200px;
  // position: absolute;
  bottom: 0;
  left: 0;
  margin: 26px;
  border-radius: 8px;
}


.modal-content {
  background: $eerie-black;
  border-radius: 16px;
  border: 2px solid $white;

  .modal-header{
      color: $white;
  }
  .modal-body {

  }
}

.modal-review {
  padding: 16px;

  h6 {
    color: $uro-gold;
  }

  .avatar {
    width: 40px;
    height: 40px;
    background-size: contain;
    background-position: center;
    margin-bottom: 8px;
  }

}

@media (max-width: 960px) {
  .beast-container {
    padding: 8px 16px;

    .first-row {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      max-height: unset;
    }

    .beast-img {
      width: 95%;
      .img {
        max-width: 100%;
        max-height: 100%;
      }
    }
    .beast-info {
      width: 95%;
    }
  }

  #map {
    width: 95%;
  }
}
