
<div class="beast-container mt-3">
  <div class="row justify-content-around">

  <% @beasts.each do |beast| %>
    <div class="card col-3 ml-1 mb-3 p-3 rounded">
      <div class="card-img-top">
        <img class="card-img-top" src="<%= cl_image_path beast.photo.key %>" alt="Card image cap">
      </div>
      <div class="card-body">
        <h3 class="card-title"><%= link_to beast.name, beast_path(beast) %></h3>
        <h5 class="card-text">Where to find: <%= beast.location %></h5>

      </div>
      <%= link_to 'More info', beast_path(beast),
          method: :get,
          class: 'btn btn-dark' %>
    </div>

  <% end %>

  </div>
</div>
