<div class="content-container">
  <div class="banner-img"></div>

  <div class="banner">

    <div class="text-container">
      <h3>Your house's chores matter!</h3>
      <p>We're on a mission to revolutionize your ways to go through daily chores. So the Fantastic Beasts Renting concept was born. From lighting up a bbq fire to sweep through your dusty floor, there's nothing a mythical beast cannot do. Let rent a listed beast and let him do the chores for you.</p>
      <div id='extra-banner-text'><h5>How its works</h5>
        <p>- Go through our list of Fantastic Beasts -</p>
        <p>- Choose one with an ability that fits your goal -</p>
        <p>- Choose renting date and submit -</p>
        <p>- Finalize the payment and the beast will fly (or walk) to your house -</p>
      </div>
    </div>
    <%= link_to 'Start Now', beasts_path, class: 'btn  btn-banner' %>
  </div>

</div>
