.card {
  background: rgba($uro-gold, 0.9);
  margin: 16px;
  border-radius: 8px;
  transition: transform 1s;


  .card-img {
    width: 100%;
    height: 70%;
    overflow: hidden;

    .card-img-top {
      display: block;
    }
  }

  .card-body {
    padding: 8px;
    .card-title {
      margin: 0;
      text-align: center;


      a{
        text-decoration: none;
        color: $jap-indigo;

        &:hover {
          // color: $ori-orange;
          text-shadow: 2px 2px 7px $jap-indigo;
        }
      }
    }

    .card-text {
      text-align: center;
      color: $all-black;
      display: block;
      margin: 0 0 16px 0;
    }
  }

  .btn-dark {
    background: $jap-indigo;
    color: $uro-gold;
    border-radius: 8px;

    &:hover {
      background: $uro-gold;
      color: $jap-indigo;
    }
  }
}

// for shadow on light surface
.shadow-1 {
  box-shadow: 2px 2px 2px rgba($eerie-black, 0.5);
}
// for shadow on dark surface
.shadow-2 {
  box-shadow: 4px 4px 2px rgba($eerie-black, 1);
}
.shadow-text {
  text-shadow: 2px 2px 2px rgba($eerie-black, 0.5);
}



.rotate-ani {
    animation: rotate 1s;
  }

@keyframes rotate {
  0% {
    transform: rotateY(0deg);
    opacity: 1;
  }
  100% {
    transform: rotateY(360deg);
    opacity: 0;
  }
}
