.navbar-lewagon {
  justify-content: space-between;
  background: $eerie-black;
  border-bottom: 1px solid $uro-gold;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 240px;
}

.navbar-dark .nav-item {
  .nav-link {
  color: $uro-gold;
  font-family: 'fontastic_beastregular';
  margin-right: 16px;
  }
  &.active .nav-link {
    color: $ori-orange;
  }
}
