// Graphical variables
@import "config/font/stylesheet.css";
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background: linear-gradient(to bottom, #101425, #101425aa, #101425), url('https://res.cloudinary.com/dvbejvnhk/image/upload/v1582861406/bg-blue-scene_sdztkm.jpg') no-repeat center center fixed;
  background-size: cover;
  height: 100%;
}

body {
  background: transparent;
  color: #fff;
}

a {
  text-decoration: none;
  color: #fff;
}

li {
  list-style: none;
}

.container {
  width: 100vw;
  height: 100vh;
  background-size: cover;
}
